[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
sqlalchemy = "*"
sqlalchemy-utils = "*"
alembic = "*"
psycopg2 = "*"
aiohttp = "*"

[dev-packages]

[requires]
python_version = "3.9"
