[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sqlalchemy = "*"
sqlalchemy-utils = "*"
alembic = "*"
psycopg2 = "*"
aiohttp = "*"
asyncstdlib = "*"
beautifulsoup4 = "*"
pytest = "*"
flask = "*"
pyjwt = "*"
flask-sqlalchemy = "*"
flask-bcrypt = "*"
flask-cors = "*"
flask-restx = "*"
allure-pytest = "*"

[dev-packages]

[requires]
python_version = "*"
