html, body { 
    height: 100%; 
    width: 100%; 
    margin: 0; 
    background-color: brown;
}
.header{
    height:13%;
    width: 100%;
    background-color:teal;
}
.charts{
    display: flex;
    flex-direction: column;
}
.count_charts{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}

.footer{
    width: 100%;
    height: 13%;
    background-color: burlywood;
}


/* filter icon */
.filter{
    display: block;
    position: fixed;
    right: -1px;
    top: 12.7%;
    height:2.5em;
    width: 3em;
    background-color: red;
    z-index: 3;
    border-radius: 3px;
}


.filter_show{
    height: 100%;
    width: 100%;
    display: block;
    position: relative;
    color: #fff;
    font-size: 200%;
}
 

.fa{
    display: block;
    /* font: normal normal normal 13px/1 FontAwesome; */
    /* text-rendering: auto; */
    /* position: relative; */
    width: 100%;
    height: 100%;
    text-align: center;

}

/* filter memu */
.filter-menu-container{
    display: flex;
    position: fixed;
    right: -1px;
    top:12.7%;
    z-index: 1212;
    background-color: coral;
    height: 35em;
    width:30em;
}
